
@{
    ViewBag.Title = "rightanswer";
    Layout = "~/Views/Shared/_instruction.cshtml";
}
<style>
    body {
        background-color: #006dcc;
        background-image:none;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
    }


/**/
/**/
.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(110%) brightness(190%);
}
.neon {
  position: relative;
  background: rgba(21, 199, 250, 1);
  color: transparent;
}
.neon::before, .neon::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.neon::after {
  mix-blend-mode: difference;
}
.gradient, .spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}
.gradient {
  background: linear-gradient(45deg, red, blue);
  mix-blend-mode: multiply;
}
.spotlight {
  animation: light 5s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}
@@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.neon {
  font: 700 110px 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.neon:focus {
  outline: none;
  border: 1px dotted white;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


</style>

@section Scripts{
    <script>
        $('#navinstruction').hide();
        ///////////////////////////



    </script>    
}
<br /><br /><br /><br />


<div class="text-effect">
    <!-- Select the text in the preview and type in your own -->
    <h1 class="neon" data-text="Congratulations Correct Answer" contenteditable style="justify-content:center">Congratulations. Correct Answer</h1>
    <div class="gradient"></div>
    <div class="spotlight"></div>
</div>
<br /><br /><br /><br />
<div class="row panel panel-body" style="text-align:center;background-color:#000000;opacity:0.8">
    <h1 style="color:yellow;font-weight:bold;font-family:Tahoma">You can still know more or Move to the next question</h1>
</div>
<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />