body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

#home-section {

  }
  #home-section .dark-overlay {
	      background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
 }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#explore-section .fa, #share-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#create-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }
  
.image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 0s ease-in-out 2 alternate;
    -moz-animation:spin 0s ease-in-out 2 alternate;
    animation:spin 0s ease-in-out 2 alternate;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin {
    0%   {left:200px; top:50px;}
    25%  {left:220px; top:50px;}
    50%  {left:240px; top:50px;}
    75%  {left:270px; top:50px;}
    100% {left:300px; top:50px;}
}


/*  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */

.a2 { font-size:0.9em; padding:6px 28px; display:inline-block; margin:5px; border-radius:6px; border:solid rgba(0,0,0,0.2); border-width:1px 1px 5px; box-shadow:0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3); cursor:pointer; user-select:none; transition:0.4s ease; }

.a2:hover { transform:translateY(-3px); box-shadow:0 6px 0 rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.4); border-bottom-width:8px; }

.a2:active { transform:translateY(4px); box-shadow:0 2px 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(255,255,255,0.4); border-bottom-width:2px; transition:0.1s ease; }

.red { background:hsl(8,59%,59%); color:rgba(255,255,255,0.95); text-shadow:-1px -1px 1px rgba(0,0,0,0.1); }
.orange { background:hsl(41,76%,65%); }
.yellow { background:hsl(50,81%,65%); }
.green { background:hsl(104,51%,62%); }
.blue { background:hsl(176,59%,59%); }
