
@{
    ViewBag.Title = "userIndex";
}

<h2 style="text-align:center">User credentials</h2>



<div id="login">
    <div class="form-container flip">
        <h3 class="title">Hello.</h3>
        <form action="/user/Index" method="post" name='form-login'>
            <div class="row input-group" style="text-align:center">
                <span class="fa fa-user"></span>
                <input type="text" name="Name" id="Name" placeholder="Username">
            </div>
            <div class="" style="text-align:right">
                <input type="submit" class="btn btn-info" style="width:260px" value="Login">
            </div>
        </form>

    </div>
</div>